.content {
    position: relative;
    z-index: 1;
    top:5px
}

.main {
    position: relative;
    z-index: 2; /* Ensure that .main stays above .content */
}

nav {
    position: fixed;
    z-index: 3; /* Ensure that the nav stays above .content */
}
